li
  a(href='/dashboard')
    i.fa.fa-star
    span.title  #{hi}
    span.label.label-default.pull-right OK
li
  a(href='javascript:void(0)')
    i.fa.fa-users
    span.title  #{people} 
    i.icon-arrow
  ul.sub-menu
    li
      a(href='/Personas')
        span.title  Explorador                  
li
  a(href='javascript:void(0)')
    i.fa.fa-cubes
    span.title  #{commercial} 
    i.icon-arrow
  ul.sub-menu
    li
      a(href='#')
        span.title  Ventas 
    li
      a(href='#')
        span.title  Servicios 
    li
      a(href='#')
        span.title  Créditos 
    li
      a(href='#')
        span.title  Arrendamientos 
    li
      a(href='#')
        span.title  Factoraje 
li
  a(href='javascript:void(0)')
    i.fa.fa-bank
    span.title  #{finances}  
    i.icon-arrow
  ul.sub-menu
    li
      a(href='#')
        span.title  Cuentas por Cobrar 
    li
      a(href='#')
        span.title  Cuentas por Pagar 
    li
      a(href='#')
        span.title  Gastos 
    li
      a(href='#')
        span.title  Activos 
li
  a(href='javascript:void(0)')
    i.fa.fa-money.fa-5x
    span.title  #{treasury} 
    i.icon-arrow
  ul.sub-menu
    li
      a(href='#')
        span.title  Tesorería 
    li
      a(href='#')
        span.title  Conciliación 
li
  a(href='javascript:void(0)')
    i.fa.fa-book
    span.title  #{accounting}
    i.icon-arrow
  ul.sub-menu
    li
      a(href='#')
        span.title  Cuentas 
    li
      a(href='#')
        span.title  Contabilidad Financiera 
    li
      a(href='#')
        span.title  Contabilidad Administrativa 
        
// start: MAIN NAVIGATION MENU
//ul.main-navigation-menu
//  include ./includes/main_navigation_menu.jade
//// end: MAIN NAVIGATION MENU        
//


